.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #848484;
  width: 100%;
  height: 55px;
  z-index: 3;
}

.navBar-brandImg {
  font-size: 30px;
  color: Black;
  font-weight: bold;
  margin: 0;
}

.navBar-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navBar-list-link {
  padding: 15px;
  color: black;
  font-weight: bold;
}

.navBar-list-link:hover {
  background-color: rgb(99, 96, 96);
  cursor: pointer;
}

.navBar-rightDiv {
  display: flex;
  align-items: center;
}

.cartIcon {
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.cartIcon:hover {
  text-shadow: 2px 2px;
  cursor: pointer;
}

.cartBatch {
  color: black;
  text-shadow: none;
  font-size: 15px;
}

.ctaNavBar {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #c6101c;
  padding: 8px 15px;
  max-width: 200px;
  border: none;
}

.ctaNavBar:hover {
  color: #d6d6d6;
  background-color: tomato;
  cursor: pointer;
}

/* ----------------DROP DOWN BUTTON CSS------------------------> */

.navBar-dropdown-moreBtn {
  font-size: 25px;
  border: none;
  padding: 8px 10px 8px 10px;
  color: black;
}

.navBar-dropdown-moreBtn-links {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navBar-dropdown-moreBtn-links a {
  display: flex;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.navBar-dropdown-moreBtn-links a:hover {
  background-color: gray;
}

.navBar-dropdown:hover .navBar-dropdown-moreBtn-links {
  display: block;
}

.navBar-dropdown:hover .navBar-dropdown-moreBtn:hover {
  background-color: rgb(99, 96, 96);
  cursor: pointer;
}
