/** @format */

.whyUssection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 54px;
}

.whyUsSection-heading {
  font-family: Poppins;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #3b6d3a;
}

.whyUsSection-title {
  display: flex;
  align-items: center;
}

.whyUsSection-title-firstHalf {
  font-family: Poppins;
  font-size: 34px;
  color: #3b6d3a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.whyUsSection-title-secondHalf {
  font-family: "Alfa Slab One", sans-serif;
  padding: 0 10px;

  font-size: 38px;
  color: #3b6d3a;
  font-weight: bold;
}

.whyUsSection-desc {
  text-align: justify;
  width: 100%;
  max-width: 480px;
  color: black;
  font-family: Poppins;
  line-height: 28px;
  font-weight: 400;
}

.whyUsSection-mini-section-container {
  display: flex;
}

.whyUsSection-mini-section-container-rowOne {
  width: 50%;
}
