/** @format */

.whyUssection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 0;
}

.whyUsSection-heading {
  font-family: Poppins;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #3b6d3a;
}

.whyUsSection-title {
  display: flex;
  align-items: center;
}

.whyUsSection-title-firstHalf {
  font-family: Poppins;
  font-size: 34px;
  color: #3b6d3a;
  font-weight: bold;
}

.whyUsSection-title-secondHalf {
  font-family: "Alfa Slab One", sans-serif;
  padding: 0 10px;

  font-size: 38px;
  color: #3b6d3a;
  font-weight: bold;
}

.whyUsSection-desc {
  text-align: justify;
  width: 100%;
  max-width: 480px;
  color: black;
  font-family: Poppins;
  line-height: 28px;
  font-weight: 400;
  padding-right: 12px;
}

.whyUsSection-mini-section-container {
  display: flex;
}

.whyUsSection-mini-section-container-rowOne {
  width: 50%;
}

.whyUssection-right-whyUs {
  padding: 0 12px;
}

@media (max-width: 480px) {
  .whyUsSection-title-firstHalf,
  .whyUsSection-title-secondHalf {
    font-size: 24px;
  }
  .whyUsSection-heading {
    font-size: 34px;
  }
}

@media (max-width: 892px) {
  .whyUssection-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .why-us-img {
    max-width: 380px;
  }
}
