/** @format */

* {
  text-decoration: none;
}

.SelectedProductCategory-container {
}

.SelectedProductCategory-bannerDiv {
  padding-top: 70px;
}

.SelectedProductCategory-selectCompany-heading {
}

.SelectedProductCategory-param {
  color: black;
  font-size: 50px;
}

.SelectedProductCategory-products {
  display: flex;
  padding: 50px;
}
.ProductCard-price {
  color: black !important;
  font-family: Poppins;
  font-weight: 500;
}
