/** @format */

* {
  text-decoration: none;
}

.SelectedProductCategory-container {
}

.SelectedProductCategory-bannerDiv {
}

.SelectedProductCategory-selectCompany-heading {
  padding: 20px;
}

.SelectedProductCategory-param {
  color: black;
  font-size: 50px;
}

.SelectedProductCategory-products {
  display: flex;
  flex-direction: row;
  padding: 50px 10px 10px 10px;
}
.ProductCard-price {
  color: black !important;
  font-family: Poppins;
  font-weight: 500;
}
