/** @format */

* {
  margin: 0;
  padding: 0;
}

.ProductCard-container {
  width: 250px;
  text-align: center;
  font-family: arial;

  padding: 12px 0;
}
.ProductCard-container img {
  width: 100%;
}

.ProductCard-name {
  padding-top: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  text-align: center;
  margin: auto;
}

.ProductCard-container:hover {
  box-shadow: 0 0 5px #3b6d3a;
}

button {
  outline: none;
  padding: 8px 44px;

  background: rgb(52 124 40) -6%;
  border: 2px solid #3b6d3a !important;
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #1fcf22 !important;
}
