/** @format */

* {
  margin: 0;
  padding: 0;
}

.ProductCard-container {
  /* width: 250px; */

  text-align: center;
  font-family: arial;

  padding: 12px 0;
}
.ProductCard-container img {
  width: 100%;
}

.ProductCard-name {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductCard-rating {
  padding: 10px;
}
.ProductCard-container:hover {
  box-shadow: 0 0 5px #881e25;
}

button {
  border: none;
  outline: none;
  padding: 8px 44px;
  background-image: linear-gradient(#4c1216, #902129, #881e25, #5e1a1e);
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
