/** @format */

* {
  margin: 0;
  padding: 0;
}

.ProductCard-container {
  /* width: 250px; */

  text-align: center;
  font-family: arial;

  padding: 12px 0;
}
.ProductCard-container img {
  width: 100%;
}

.ProductCard-name {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductCard-rating {
  padding: 10px;
}
.ProductCard-container:hover {
  box-shadow: 0 0 5px #3b6d3a;
}

button {
  outline: none;
  padding: 8px 44px;

  background: radial-gradient(
    circle,
    rgb(52 124 40) -6%,
    rgba(35, 39, 40, 1) 84%,
    rgba(14, 18, 17, 1) 100%
  );
  border: 2px solid #3b6d3a !important;
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
