/** @format */

.programSection-container {
  height: 850px;
}

.programSection-heading {
  font-family: "Pacifico", "cursive";
  font-weight: 500;
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  color: #c6101c;
}

.programSection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.programSection-title-firstHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 34px;
  color: #c6101c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.programSection-title-secondHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 34px;
  color: #c6101c;
  font-weight: bold;
}

.programSection-cards {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  align-items: center;
  flex-wrap: wrap;
  font-family: Poppins !important;
}
