.programSection-container {
  height: 850px;
  border: solid 5px #c6101c;
}

.programSection-heading {
  font-family: 'Pacifico', 'cursive';
  font-weight: normal;
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  color: #c6101c;
}

.programSection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.programSection-title-firstHalf {
  font-family: 'Alfa Slab One', sans-serif;
  padding: 10px;
  font-size: 35px;
  color: #c6101c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.programSection-title-secondHalf {
  font-family: 'Alfa Slab One', sans-serif;
  padding: 10px;
  font-size: 37px;
  color: #c6101c;
  font-weight: bold;
}

.programSection-cards {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  max-width: 1300px;
}
