.products-categories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

/* ----------------Text side---------------------- */

.products-categories-text-side {
  width: 60%;
}

.products-categories-heading {
  font-size: 30px;
  color: #c6101c;
}

.products-categories-desc {
  font-size: 20px;
}

.products-categories-cta {
  background-color: #c6101c;
  color: white;
  padding: 20px 30px;
  border: none;
}

.products-categories-cta:hover {
  background-color: tomato;
}

/* ----------------Image side---------------------- */

.products-categories-img-side {
  width: 40%;
}

.products-categories-img-side img {
  width: 400px;
  height: 100%;
}

.products-categories-text-Rightside {
  width: 60%;
  padding-left: 300px;
}
